<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}Bedtime Story{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='nano.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <header>
            <hgroup>
                <h1>📚 S T O R Y T I M E !</h1>
                <em>Create your own custom bedtime stories</em>
            </hgroup>
        </header>

        {% block content %}{% endblock %}

        <footer>
            <p>
                © 2025 ObsoleteNerd –
                <a href="https://github.com/obsoletenerd/Storytime">Source Code</a>
            </p>
        </footer>
    </body>
</html>
